// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2019 DENX Software Engineering GmbH
 * Author: Parthiban Nallathambi <pn@denx.de>
 */
/dts-v1/;

#include "imx6ull.dtsi"
/ {
	model = "Kostal KIE imx6 Ultra Lite Inverter";
	compatible = "kostal,imx6ull-inverter", "fsl,imx6ull";

	aliases {
		u-boot,dm-pre-reloc;
		mmc0 = &usdhc2;
		usb0 = &usbotg1;
		display0 = &lcdif;
		ethernet0 = &fec2;
	};

	backlight_display: backlight-display {
		compatible = "gpio-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight>;
		gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
		default-on;
		status = "okay";
	};

	chosen {
		stdout-path = &uart1;
	};

	leds {
		compatible = "gpio-leds";

		green {
			label = "green";
			gpios = <&pca8574 6 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "gpio";
			default-state = "off";
		};

		red {
			label = "red";
			gpios = <&pca8574 7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "gpio";
			default-state = "off";
		};
	};

	memory {
		reg = <0x80000000 0x20000000>;
	};

	regulators: regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usbotg2_vbus: usbotg2-vbus@0 {
			compatible = "regulator-fixed";
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_usb_otg2_vbus>;
			regulator-name = "usb_otg2_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio1 4 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		VDD_in: regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "VDD_in";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-always-on;
			regulator-boot-on;
		};

		vcc_5v: regulator@2 {
			compatible = "regulator-fixed";
			regulator-name = "+5V";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			regulator-always-on;
			vin-supply = <&VDD_in>;
		};

		reg_3v3: regulator@4 {
			compatible = "regulator-fixed";
			regulator-name = "3V3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
			vin-supply = <&vcc_5v>;
		};

		reg_1v8: regulator@5 {
			compatible = "regulator-fixed";
			regulator-name = "1V8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
			vin-supply = <&vcc_5v>;
		};

		reg_1v35: regulator@6 {
			compatible = "regulator-fixed";
			regulator-name = "1V35";
			regulator-min-microvolt = <1350000>;
			regulator-max-microvolt = <1350000>;
			regulator-always-on;
			vin-supply = <&vcc_5v>;
		};


/*
		vbus_otg1: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "vbus_otg1";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};
*/
	};

/*
	panel {
		compatible = "sitronix,st7701";
		backlight = <&backlight_display>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&display_out>;
			};
		};
	};
*/

	watchdog: watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&pinctrl_ext_wdog>;
		hw_algo = "toggle";
		hw_margin_ms = <1600>;
		always-running;
	};
};

&can1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&vcc_5v>;
	status = "okay";
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-mode = "rmii";
	phy-handle = <&ethphy0>;
	phy-supply = <&reg_3v3>;
	status = "okay";

	/* Switch MV88E6020 at base address 0x10 when ADDR4=1 */
	/* Proper initialization is performed with PHYLIB */
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@10 {
			reg = <0x10>;
		};
	};
};

&i2c1 {
	clock-frequency = <10000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pca8574: gpio@20 {
		compatible = "nxp,pca8574";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-bank-name = "kbd";
		lines-initial-states = <0xFF>;
	};
};

/* TODO - Not yet working */
/*
&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	lcd-supply = <&reg_3v3>;
	status = "okay";

	port {
		display_out: endpoint {
			remote-endpoint = <&panel_in>;
		};
	};
};
*/

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	uart-has-rtscts;
	status = "okay";
};

&usbotg1 {
	/* TODO Fixed regulator needed? */
	disable-over-current;
	dr_mode = "host";
	status = "okay";
};

&usbotg2 {
	vbus-supply = <&reg_usbotg2_vbus>;
	disable-over-current;
	dr_mode = "host";
	status = "okay";
};

&usdhc2 {
	u-boot,dm-spl;
	u-boot,dm-pre-reloc;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2>;
	bus-width = <8>;
	non-removable;
	keep-power-in-suspend;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";

	pinctrl_enet2: enet2grp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO06__ENET2_MDIO	0x10010
			MX6UL_PAD_GPIO1_IO07__ENET2_MDC		0x10010
			MX6UL_PAD_ENET2_RX_EN__ENET2_RX_EN	0x1b0b0
			MX6UL_PAD_ENET2_RX_DATA0__ENET2_RDATA00	0x1b0b0
			MX6UL_PAD_ENET2_RX_DATA1__ENET2_RDATA01	0x1b0b0
			MX6UL_PAD_ENET2_TX_EN__ENET2_TX_EN	0x1b010
			MX6UL_PAD_ENET2_TX_DATA0__ENET2_TDATA00	0x1b010
			MX6UL_PAD_ENET2_TX_DATA1__ENET2_TDATA01	0x1b010
			MX6UL_PAD_ENET2_TX_CLK__ENET2_REF_CLK2	0x4001b010
			MX6UL_PAD_LCD_DATA13__GPIO3_IO18	0x17059
			MX6UL_PAD_LCD_DATA14__GPIO3_IO19	0x17059
		>;
	};

	pinctrl_ext_wdog: extwdoggrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO05__GPIO1_IO05	0x1b0b0
			/* TODO WDT_SEL, no support in kernel for GPIO */
			MX6UL_PAD_GPIO1_IO03__GPIO1_IO03	0x1b0b0
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA08__FLEXCAN1_TX	0x1b020
			MX6UL_PAD_LCD_DATA09__FLEXCAN1_RX	0x1b020
			/* TODO STB - silent mode */
			MX6UL_PAD_LCD_DATA10__GPIO3_IO15	0x1b0b0
		>;
	};

	pinctrl_i2c1: i2cgrp {
		fsl,pins = <
			MX6UL_PAD_UART4_TX_DATA__I2C1_SCL	0x4001b8b0
			MX6UL_PAD_UART4_RX_DATA__I2C1_SDA	0x4001b8b0
			MX6UL_PAD_GPIO1_IO08__GPIO1_IO08	0x0b0b0
		>;
	};

	pinctrl_lcdif_dat: lcdifdatgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA00__LCDIF_DATA00	0x79
			MX6UL_PAD_LCD_DATA01__LCDIF_DATA01	0x79
			MX6UL_PAD_LCD_DATA02__LCDIF_DATA02	0x79
			MX6UL_PAD_LCD_DATA03__LCDIF_DATA03	0x79
			MX6UL_PAD_LCD_DATA04__LCDIF_DATA04	0x79
			MX6UL_PAD_LCD_DATA05__LCDIF_DATA05	0x79
			MX6UL_PAD_LCD_DATA06__LCDIF_DATA06	0x79
			MX6UL_PAD_LCD_DATA07__LCDIF_DATA07	0x79
		>;
	};

	pinctrl_lcdif_ctrl: lcdifctrlgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_CLK__LCDIF_CLK		0x79
			MX6UL_PAD_LCD_ENABLE__LCDIF_ENABLE	0x79
			MX6UL_PAD_LCD_HSYNC__LCDIF_HSYNC	0x79
			MX6UL_PAD_LCD_VSYNC__LCDIF_VSYNC	0x79
			MX6UL_PAD_LCD_RESET__LCDIF_RESET	0x79
		>;
	};

	pinctrl_backlight: backlightgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA19__GPIO3_IO24	0x1b0b1
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX6UL_PAD_UART1_TX_DATA__UART1_DCE_TX	0x1b0b1
			MX6UL_PAD_UART1_RX_DATA__UART1_DCE_RX	0x1b0b1
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX6UL_PAD_UART2_TX_DATA__UART2_DCE_TX	0x1b0b1
			MX6UL_PAD_UART2_RX_DATA__UART2_DCE_RX	0x1b0b1
			MX6UL_PAD_UART2_CTS_B__UART2_DCE_CTS	0x1b0b1
			MX6UL_PAD_UART2_RTS_B__UART2_DCE_RTS	0x1b0b1
		>;
	};

	pinctrl_usb_otg2_vbus: usbotg2vbusgrp {
		fsl,pins = <
			MX6UL_PAD_GPIO1_IO04__GPIO1_IO04	0x10b0
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX6UL_PAD_NAND_WE_B__USDHC2_CMD 		0x170f9
			MX6UL_PAD_NAND_RE_B__USDHC2_CLK   	0x100f9
			MX6UL_PAD_NAND_DATA00__USDHC2_DATA0	0x170f9
			MX6UL_PAD_NAND_DATA01__USDHC2_DATA1	0x170f9
			MX6UL_PAD_NAND_DATA02__USDHC2_DATA2	0x170f9
			MX6UL_PAD_NAND_DATA03__USDHC2_DATA3	0x170f9
			MX6UL_PAD_NAND_DATA04__USDHC2_DATA4	0x170f9
			MX6UL_PAD_NAND_DATA05__USDHC2_DATA5	0x170f9
			MX6UL_PAD_NAND_DATA06__USDHC2_DATA6	0x170f9
			MX6UL_PAD_NAND_DATA07__USDHC2_DATA7	0x170f9
			MX6UL_PAD_NAND_ALE__USDHC2_RESET_B 	0x170f9
		>;
	};
};
